/*!
 * Start Bootstrap - Half Slider HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

html,
body {
    height: 100%;
}

/* You can change the height of the carousel by changing the height in the class below. It is set to 50% by default, but can be any height! */

.carousel {
    margin-top: -50px;
    height: 50%;
    width: 100%;
}
.pannel{
    text-decoration: none;
    display: inline-block;


}
h2{
    text-align: center;
}

.item,
.active,
.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    
    
    background-position: center;
    display: inline-block;
}

footer {
    margin: 50px 0;
}
