
#frame{
		padding-top: 10%;
		padding-left: 10%;
	}
	
	#title{
		text-align: center;
		font-size:
	}
	
	#body{
		height: auto;
		padding-top: 10%;
		padding-left: 10%;
	}

#formbox{
	
}

	#link{
		display:block;
		width:20px;
		height:5px;
		background-color: menu;
	}