h1{
	
	text-align: center;
	font-size: 25px;
	
}
h2 {
	text-align:center;
	font-size: 20px ;
  	font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
	color: #F96B18;
  
 	padding-top: 5px;
	padding-bottom: 5px;  
}
h3 {
	
	font-family:Baskerville, "Palatino Linotype", Times, serif;
	color:#ea1ab3;
	margin:2px 0 2px 0;
}