/*Start Whole Container  */
#container{
	width: 1140px;
	margin:0 auto;
	background-color: #E3E3E3;}
	
/*End Whole Container  */

/* specify absolute position of banner in vieport(i.e. browser window), with left and top parameter, also specify the height of banner */
#header{
		position:absolute;
		top: 0px;
		height:100px;
}
/*since we have specified position for 'wrap' to be relative, hence any elements contained within it(i.e. menu,contentarea & footer divs) will be
given position relative to this element*/
#wrap{		
		margin: 307px 0px 0px;		
		
}
/*specify position of 'menu' div to be 0px on left and 0px on top with respect to 'wrap' div */		
#menu{		
	background: -moz-linear-gradiend(top,gray 30%,blue 100%);
	
	box-shadow:4px 4px 4px 4px #636B55;
		margin-top:0px;
		margin-left:0px;
		background-color:#99A9AF;
		width:250px;
		font-color:black;
		height:1240px;
		border:silver;1px;
		text-align:center;	
		float:left;	
}
#menu ul
{
	list-style-type: none;
	text-decoration: none;
	font-size:17px;
	line-height: 35px;
}
/* hr{} */
#menu ul a:hover
{
	text-decoration:none;
	color: #FFF ;
	
	
}
/*specify position of 'contentarea' div to be 150px on left(this is essential because this much space will be taken by 'menu' div) and 0px on top from 'wrap' div */
#contentarea{	
		top:0px;
		width:800px;
		float: left;
		margin-left: 70px;
		
}
/*specify position of 'footer' div to be 0px from left and 705px from top(since, this much space will be taken by 'contentarea' div) with respect to 'wrap' div*/
#footer{
		
		background-color: #23088F;		
		clear: both;
		text-align: center;
		font-size: 20px;
		margin-bottom:-10px;
		
}
#copyright{
	padding-top:17px;
	padding-bottom: 17px;
	color: #FFF;
}
#menu li{
	border-bottom: 1px solid #FFF;
	padding: 12px;
	width: 178px;
	text-align: left;	
}
#txt{
	border-bottom: 1px solid #FFF;
	font-size: 20px;
	color:#D4AE17;
	}
#logobody{
	/*width:1112px;
	 border:1px solid red; */
	height: 86px;
	margin: 0 auto;
	background-color: #23088F;
	}
	#logoimgae{
	width:100px;
	float: left;
	}
	#logotitle{	
	float: left;
	width: 800px;//1000px;
	padding-left: 20px;
	text-align: center;
	height: 85px;
	padding-top: 12px;
	font-size: 35px;
	color: #D4AE17;
	text-shadow: 2px 2px 2px #D4AE17;
	}
	#phoneno{
	float: left;
	margin-top: 20px;
	width: 200px;
	height: 80px;//85
	font-size: 20px;
	color: #FFFFFF;	
	
	}
#updatenew p{
	padding-left: 15px;
	text-align: justify;	
}
#updatenew{
	margin-left: -25px;
	margin-right: 15px;
}
#aboutus p{
	font-size: 16px;
	line-height: 30px;
}
#aboutus h3{
	text-align:center;
}
#contactus p{
	font-size: 16px;
	line-height: 30px;
}
#container.pra
{
	width: 850px;
	/* padding-right: 50px; */
	margin-left: -50px;
}
/* body{
	width: 800px;
} */
/* #container header
{
	width: 800px;
} */
#contentarea h4{line-height: 30px;}
#tip p{line-height: 30px;}
#contentarea p{line-height: 30px;}




